/*styles.css*/

/*#mycanvas {
	background-color: #e5e5e5;
	border: 2px dashed black;
	height: 400;
	width: 400;
}

#myCanvas3 {
	background-color: green;
	border: 2px dashed white;
	height: 420px;
	width: 420px;*/
/*}*/