/*rockpaperscissors2.css */
body {
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
	
}

.page-header {
	margin-top: 10px;
}

#rps-header {
	font-size: 4rem;
}


/******** START Player and Computer Names ********/

#player, #computer {
	border: 1px solid;
	font-size: 4vw;
	
}


/******** END Player and Computer Names ********/

/******** START Player and Computer Scores ********/

#player-score, #computer-score {
	background-color: #000080;
	color: #fff;
	font-size: 6vw;
	margin-bottom: 4px;
}


/******** END Player and Computer Scores ********/


/******** START Match Headers and Stats ********/
.stats {
	border-right: 1px dashed grey;
}

.stats:nth-child(4){
	border-right: none;
}

#match-group {
	border: 1px solid;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
#match-header {
	border: 1px solid;
	font-size: 2rem;
	/*height: 5vh;*/
	/*padding-top: 1vh;*/
}

#match-stats {
	border: 1px solid;
	
	/*height: 7vh;*/
	font-size: 4rem;
}




.stats {
	/*border: 1px solid;*/
}

/******** END Match Headers and Stats ********/


/******** START Player's Selection ********/

#selection {
	font-size: 8rem;
	margin-bottom: 35px;
}

#weapon {
	font-size: 2rem;
}

.hand:hover {
	color: blue;
	background-color: black;
	border-radius: 5px;
	cursor: pointer;
}



/******** END Player's Selection ********/


/******** START Fist Animation ********/

.animated-fist {
	font-size: 6rem;
}
#player-fist {
	/* Rotation of Fist (Left Fist) */
	-webkit-transform: rotate(90deg);
	/* Firefox */
	-moz-transform: rotate(90deg);
	/* IE */
	-ms-transform: rotate(90deg);
	/* Opera */
	-o-transform: rotate(90deg);
	    
}

#computer-fist {
  transform: rotate(-90deg) scaleX(-1, 1);
	-moz-transform: rotate(-90deg) scale(-1, 1);
  -o-transform: rotate(-90deg) scale(-1, 1);
	-webkit-transform: rotate(-90deg) scale(-1, 1);    
  -ms-transform: rotate(-90deg) scale(-1, 1);
}

/******** END Fist Animation ********/


/******** START Rock-Paper-Scissors Explanation ********/

#rps-explanation {
	font-family: 'Slabo 27px', serif;
	font-size: 4rem;
	height: 20vh;
	margin-top: 50px;
	text-align: center;
}



/******** END Rock-Paper-Scissors Explanation ********/


#links {
	margin-top: 2rem;
	text-align: left;
}


@media screen and (max-width: 768px){
	.page-header {
		margin-top: 10px;
	}

	#rps-header {
		font-size: 3rem;
	}

	#player-score, #computer-score {
		font-size: 10vw;
	}

	#match-header {
		font-size: 1.5rem;
		
	}

	#match-stats {
		border: 1px solid;
		/*height: 7vh;*/
		font-size: 3rem;
	}

	#weapon {
		font-size: 1.5rem;
		padding-top: 2.5rem;
	}

	#rps-explanation {
	
	font-size: 2.5rem;
	}

	#rps-explanation2 {
	margin-top: 50px;
	font-size: 2.5rem;
	margin-bottom: 50px;
	}

}






