/*texas-holdem.css*/
.card {
	border: 1px solid;
	border-radius: 8px;
	display: inline-block;
	font-size: 2em;
	height: 9vw;
	width: 8vw;
	/* I added vertical-align: top because the cards kept shifting as you added content.  This fixes that.*/
	vertical-align: top;
}

#table {
	text-align: center;
}
.player-hand {
	text-align: center;
}

.btn {
	margin: 0px;
}

/* Mobile Phones */
@media screen and (max-width: 768px) {
	.card {
		height: 18vw;
		width: 16vw;
		font-size: 1.5em;
	}

	#generate {
		height: 20vh;
		font-size: 2.5rem;
	}

	#flop, #turn, #river {
		height: 20vh;
		font-size: 2.5rem;
		
	}

	#table, .player-hand {
		padding: 0px
	}
}

@media screen and (min-width: 769px) and (max-width: 968px){
	.card {
		height: 12vw;
		width: 10vw;
	}
}